@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-image-home {
    background-image: url("../../public/images/white-cloud-blue-sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

  .clouds2 .clouds1 {
    z-index: 10;
  }

  .person {
    z-index: 1000;
  }
  .text  {
    z-index: 1000;
  }
  section {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section::before {
    content: "";
    background: linear-gradient(to top, #ffffff, transparent);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  
  
  section img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }
  
  section img.person {
    transform-origin: bottom;
  }
  
  .text {
    user-select: none;
    color: #ffffff;
    font-size: 5vw;
    position: relative;
    text-transform: uppercase;
    filter: drop-shadow(5px 13px 24px rgba(0, 0, 0, 0.7));
  }
  
  .sec {
    position: relative;
    padding: 10px;
  }
  
  .sec h2 {
    color: #20497a;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .sec p {
    color: #20497a;
    font-size: 1.2rem;
    margin-bottom: 1em;
    opacity: 0.7;
  }
  
  section {
    width: 100%;
    height: 100vh;
  }
  
  .form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    width: max-content;
    
  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 20px;
  }
  
  .button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  

  @media screen and (max-width: 768px) {
    section::before {
    display: none;
    }
    .person {
      z-index: 0;
    }
    .text  {
      z-index: 0;
    }
  }